<div class="site-section">
  <div class="row mb-3">
    <div class="col-lg-7 text-center mx-auto">
        <h2 class="section-heading">Become a Volunteer !</h2>
        <p>Join with us in our endeavour to provide aunthentic data to our visitors. We need volunteers to validate and authenticate the info constantly being poured into our system by the community.</p>
        <p><a href={{ "volunteer" | relative_url }} class="btn btn-primary"><i class="fas fa-heart"></i>&nbsp; Become a Volunteer !</a></p>
     </div>
  </div>
  
</div>