<!--bg-light, <div class="site-section bg-primary-light">, <div class="site-section stats">-->
<div class="site-section bg-light" id="covidaids"> 
    <div class="container">
      <div class="row mb-3">
        <div class="col-lg-7 text-center mx-auto">
          <h2 class="section-heading">Explore Covid 19 Resources Listings</h2>
          <p>Explore various community suported covid-19 resources listings.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <a href={{ "/oxygendata" | relative_url }}>
          <div class="media-v1 bg-1">
            <div class="icon-wrap">
              <span><i class="fas fa-hospital-alt"></i></span>
            </div>
            <div class="body">
              <h3>Oxygen Supplies</h3>
              <p>Get to know your nearest available oxygen supplies, regularly updated by community inputs and verified by our dedicated volunteers.</p>
            </div>
          </a>
          </div>
        </div>
        <div class="col-lg-3">
          <a href={{ "/plasmadata" | relative_url }}>
          <div class="media-v1 bg-1">
            <div class="icon-wrap">
              <span><i class="fas fa-tint"></i></span>
            </div>
            <div class="body">
              <h3>Plasma Banks/Donors</h3>
              <p>Info about available plasma banks/donors in your region, regularly updated by community inputs and verified by our dediated volunteers.</p>
            </div>
          </div>
          </a>
        </div>
        <div class="col-lg-3">
          <a href={{ "/hospitals-ambulances" | relative_url }}>
          <div class="media-v1 bg-1">
            <div class="icon-wrap">
              <span><i class="fas fa-ambulance"></i></span>
            </div>
            <div class="body">
              <h3>Hospitals & Ambulances</h3>
              <p>Info about available Covid Hospital beds and ambulance facilities you can avail.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <a href={{ "/vaccinationguide" | relative_url }}>
          <div class="media-v1 bg-1">
            <div class="icon-wrap">
              <span><i class="fas fa-syringe"></i></span>
            </div>
            <div class="body">
              <h3>Vaccination Guides</h3>
              <p>Handy guides and resources to help you and the people around you to get vaccinated.</p>
            </div>
          </div>
          </a>
        </div>



      </div>
    </div>
  </div>