<!--bg-light, <div class="site-section bg-primary-light">, <div class="site-section stats">-->
<div class="site-section bg-light" id="covidaids"> 
    <div class="container">
      <div class="row mb-3">
        <div class="col-lg-7 text-center mx-auto">
          <h2 class="section-heading">Explore COVID-19 Resources Listings</h2>
          <p>Explore various community suported covid-19 resources listings.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <a href={{ "oxygendata" | relative_url }}>
          <div class="media-v1 bg-1">
            <div class="icon-wrap">
              <span><i class="fas fa-hospital-alt"></i></span>
            </div>
            <div class="body">
              <h3>Oxygen Supplies</h3>
              <p>Get to know your nearest available oxygen supplies, regularly updated by community inputs and verified by our dedicated volunteers.</p>
            </div>
          </a>
          </div>
        </div>
        <div class="col-lg-3">
          <a href={{ "covidtesting" | relative_url }}>
          <div class="media-v1 bg-1">
            <div class="icon-wrap">
              <span><i class="fas fa-vials"></i></span>
            </div>
            <div class="body">
              <h3>COVID RT-PCR Testing</h3>
              <p>Info about agencies near you where you can get RT PCR tests done.</p>
            </div>
          </div>
          </a>
        </div>
        <div class="col-lg-3">
          <a href={{ "hospitals-ambulances" | relative_url }}>
          <div class="media-v1 bg-1">
            <div class="icon-wrap">
              <span><i class="fas fa-ambulance"></i></span>
            </div>
            <div class="body">
              <h3>Hospitals & Ambulances</h3>
              <p>Info about available Covid Hospital beds and ambulance facilities you can avail.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <a href={{ "telemedicine" | relative_url }}>
          <div class="media-v1 bg-1">
            <div class="icon-wrap">
              <span><i class="fas fa-phone-volume"></i></span>
            </div>
            <div class="body">
              <h3>Telemedicine</h3>
              <p>Teleconsultations are a safe and effective way to assess suspected COVID-19 cases and to guide the patient's diagnosis and treatment.</p>
            </div>
          </div>
          </a>
        </div>
        <div class="col-lg-3">
          <a href={{ "plasmadata" | relative_url }}>
          <div class="media-v1 bg-1">
            <div class="icon-wrap">
              <span><i class="fas fa-tint"></i></span>
            </div>
            <div class="body">
              <h3>Plasma Banks/Donors</h3>
              <p>Info about available plasma banks in your region.</p>
            </div>
          </div>
          </a>
        </div>
        
        <div class="col-lg-3">
          <a href={{ "fooddata" | relative_url }}>
          <div class="media-v1 bg-1">
            <div class="icon-wrap">
              <span><i class="fas fa-utensils"></i></span>
            </div>
            <div class="body">
              <h3>Food Delivery</h3>
              <p>Information about nearest food deivery services to avail for COVID patients.</p>
            </div>
          </div>
          </a>
        </div>
       
        <div class="col-lg-3">
          <a href={{ "covidvolunteer" | relative_url }}>
          <div class="media-v1 bg-1">
            <div class="icon-wrap">
              <span><i class="fas fa-users"></i></span>
            </div>
            <div class="body">
              <h3>Youth Volunteer Networks</h3>
              <p>Dedicated youth volunteers to help/guide you avail COVID related facilities.</p>
            </div>
          </div>
          </a>
        </div>
        <div class="col-lg-3">
          <a href={{ "vaccinationguide" | relative_url }}>
          <div class="media-v1 bg-1">
            <div class="icon-wrap">
              <span><i class="fas fa-syringe"></i></span>
            </div>
            <div class="body">
              <h3>Vaccination Guide</h3>
              <p>Vaccination guide - procedure, FAQs, and everything you need to know about COVID vaccination.</p>
            </div>
          </div>
          </a>
        </div>
        
        <br>
        <hr>
        <p>&nbsp;</p>
        <p style="text-align: justify;"><em>All COVID-19 vaccines currently available in India have been shown to be safe and effective at preventing COVID-19. Getting a COVID-19 vaccine helps keep you from getting seriously ill even if you do get COVID-19. Need help regarding Vaccination? Visit our Vaccination Guide - procedures, criteria, FAQs, and all you need to know, all covered at one place.</em></p><br>

<p style="text-align: justify;"><span style="color: rgb(111, 66, 193);"><a href={{ "vaccinationguide" | relative_url }}><strong>&gt;&gt; EXPLORE VACCINATION GUIDE &nbsp;&gt;&gt;</strong></a></span></p>
<P><hr>></P>       
<p style="text-align: justify;"><em>India&apos;s blood banks could face a crisis, with lakhs of people set to get vaccinated against COVID-19 shortly. This is because the National Blood Transfusion Council (NBTC) has said blood banks shouldn&rsquo;t receive from people within 28 days of them taking either dose of the vaccine. Most blood donors are in the 18-44 age group, which will be eligible to get vaccinated from May.</em></p>
<p style="text-align: justify;"><em>To avoid being caught off guard, doctors are urging the public to donate blood before receiving the vaccine. So, please participate in blood donation if you&apos;re eligible !</em><em></em><br></p>
<p style="text-align: justify;"><span style="color: rgb(111, 66, 193);"><a href={{ "bloodbanks" | relative_url }}><strong>&gt;&gt; EXPLORE BLOOD BANKS NEAR YOU &nbsp;&gt;&gt;</strong></a></span></p>


      </div>
    </div>
  </div>