<!doctype html>
<html lang="en">
<head>
  <title>{{page.title}} - Cov19-Resources</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    

  <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href={{ "/fonts/icomoon/style.css" | relative_url }}>

  <link rel="stylesheet" href={{ "/css/bootstrap.min.css" | relative_url }}>
  <link rel="stylesheet" href="{{ "/css/jquery-ui.css" | relative_url }}>
  <link rel="stylesheet" href={{ "/css/owl.carousel.min.css" | relative_url }}>
  <link rel="stylesheet" href={{ "/css/owl.theme.default.min.css" | relative_url }}>
  <link rel="stylesheet" href={{ "/css/owl.theme.default.min.css" | relative_url }}>

  <link rel="stylesheet" href={{ "/css/jquery.fancybox.min.css" | relative_url }}>

  <link rel="stylesheet" href={{ "/css/bootstrap-datepicker.css" | relative_url }}>

  <link rel="stylesheet" href={{ "/fonts/flaticon/font/flaticon.css" | relative_url }}>
  <link rel="stylesheet" href={{ "/fonts/flaticon-covid/font/flaticon.css" | relative_url }}>

  <link rel="stylesheet" href={{ "/css/aos.css" | relative_url }}>

  <link rel="stylesheet" href={{ "/css/style.css" | relative_url }}>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">


</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>


  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body">
        MENU
        <ul class="no-bullets">
          <li class="active"><a href={{ "/" | relative_url }} class="nav-link"><i class="fas fa-home"></i> Home</a></li>
          <li>
            <a href={{ "/#covidaids" | relative_url }} class="nav-link"><i class="fas fa-info-circle"></i> Resources</a>
            <ul>
              <li><a href={{ "/oxygendata" | relative_url }} class="nav-link">Oxygen Supplies Info</a></li>
              <li><a href={{ "/plasmadata" | relative_url }} class="nav-link">Plasma Banks/Donors</a></li>
              <li><a href={{ "/hospitals-ambulances" | relative_url }} class="nav-link">Hospitals & Ambulances</a></li>
              <li><a href={{ "/vaccinationguide" | relative_url }} class="nav-link">Vaccination Guide</a></li>
            </ul>
          </li>
          <li><a href={{ "/contributeinfo" | relative_url }} class="nav-link"><i class="fas fa-heart"></i> Contribute Info</a></li>
          <li><a href={{ "/about" | relative_url }} class="nav-link"><i class="fas fa-address-card"></i> About</a></li>
          <li><a href={{ "/#contact" | relative_url }} class="nav-link"><i class="fas fa-envelope"></i> Contact</a></li>
          <style>
            ul.no-bullets{
              list-style-type: none;
              padding: 0;
              margin: 0;
            }
          </style>
        </ul>
      </div>
    </div>

    
    <header class="site-navbar light js-sticky-header site-navbar-target" role="banner">

      <div class="container">
        <div class="row align-items-center">

          
          <div class="col-6 col-xl-2">
            <div class="mb-0 site-logo">
              <a href="{{ "/" | relative_url }}" class="mb-0"><img src={{ "/images/com-cov-19-resources-logo.png" | relative_url }}></a>
            </div>
          </div>
          

          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li class="active"><a href={{ "/" | relative_url }} class="nav-link"><i class="fas fa-home"></i> Home</a></li>
                <li class="has-children">
                  <a href={{ "/#covidaids" | relative_url }} class="nav-link"><i class="fas fa-info-circle"></i> Resources</a>
                  <ul class="dropdown">
                    <li><a href={{ "/oxygendata" | relative_url }} class="nav-link">Oxygen Supplies Data</a></li>
                    <li><a href={{ "/plasmadata" | relative_url }} class="nav-link">Plasma Banks/Donors</a></li>
                    <li><a href={{ "/hospitals-ambulances" | relative_url }} class="nav-link">Hospitals & Ambulances</a></li>
                    <li><a href={{ "/vaccinationguide" | relative_url }} class="nav-link">Vaccination Guide</a></li>
                    <!--li class="has-children">
                      <a href="#">More Links</a>
                      <ul class="dropdown">
                        <li><a href="#">Menu One</a></li>
                        <li><a href="#">Menu Two</a></li>
                        <li><a href="#">Menu Three</a></li>
                      </ul>
                    </li-->
                  </ul>
                </li>
                <li><a href={{ "/contributeinfo" | relative_url }} class="nav-link"><i class="fas fa-heart"></i> Contribute Info</a></li>
                <li><a href={{ "/about" | relative_url }} class="nav-link"><i class="fas fa-address-card"></i> About</a></li>
                <li><a href={{ "/#contact" | relative_url }} class="nav-link"><i class="fas fa-envelope"></i> Contact</a></li>

                <!--li><a href="/blog.html" class="nav-link">Blog</a></li-->
                <!--li><a href="/contact.html" class="nav-link">Contact</a></li-->
                
              </ul>
              
            </nav>
          </div>


          <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3 text-black"></span></a></div>

        </div>
      </div>

    </header>

  