<div id="telegram" class="site-section bg-primary-light">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <p><h3><i class="fab fa-telegram-plane"></i> &nbsp; Our Telegram Channel</h3></p>
          <p>&nbsp;</p>
          <div class="row"></div>
          <div class="row">
            <div class="col-6 col-lg-6 mt-lg-5">
              <div class="media-v1 bg-1">
                <div class="icon-wrap">
                  <span><i class="fas fa-info-circle"></i></span>
                </div>
                <div class="body">
                  <h3>Up-to-Date Info & Guidelines</h3>
                  <p>Verified and up-to-date information and guidelines regarding covid management all served at one place.</p>
                </div>
              </div>

              <div class="media-v1 bg-1">
                <div class="icon-wrap">
                  <span><i class="fas fa-comment"></i></span>
                </div>
                <div class="body">
                  <h3>Interactive, yet Clean Communitity</h3>
                  <p>It's a channel, not a group. Hence, no spamming. Yet there's the feature to interact with community members and admins in the comments.</p>
                </div>
              </div>
            </div>
            <div class="col-6 col-lg-6">
              <div class="media-v1 bg-1">
                <div class="icon-wrap">
                  <span><i class="fas fa-file-alt"></i></span>
                </div>
                <div class="body">
                  <h3>Official PDFs and Govt. Directives</h3>
                  <p>Regularly updated with the official documents and directives issued by the government regarding covid management.</p>
                </div>
              </div>

              <div class="media-v1 bg-1">
                <div class="icon-wrap">
                  <span><i class="fas fa-check-circle"></i></span>
                </div>
                <div class="body">
                  <h3>Authentic and No Ads ever</h3>
                  <p>Only authentic and verified info. Admins try to make sure that every piece of information posted is authentic and verified.</p>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <div class="col-lg-5 ml-auto">
          <h2 class="section-heading mb-4">Join us on Telegram !</h2>
          <p>We've created a Telegram channel to keep you updated on stuff related to covid treatment. Join the group for handy authentic information on covid treatment arrangements and updates that are happening.</p>
          <!--p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, error!</p-->

          <ul class="list-check list-unstyled mb-5">
            
            <li>Get up-to-date information about the COVID management system</li>
            <li>Get useful links and documents officially issued by the government all at one place, regularly updated.</li>
            <li>It's a channel, not a group. So, you get only curated, authentic content and posts from the admins.</li>
            <li>You can comment on a post and interact directly with othercommunity members and the admins.</li>
            <li>Get to know about any updates on this site</li>
          </ul>

          <p><a href="https://rebrand.ly/cov19resources-telegram" class="btn btn-primary"><i class="fab fa-telegram-plane"></i>&nbsp; Join our Telegram Community !</a></p>
        </div>
      </div>
    </div>
  </div>