{% include html-upper-page.html %}




    <div class="hero-v1">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-6 text-center mx-auto">
            <span class="d-block subheading">Who are we?</span>
            <h1 class="heading mb-3">About Us</h1>
            <p class="mb-5">We are a group of dedicated individuals trying to gather and present available authentic data regarding the treatment and management of COVID-19 management in India. This is an undertaking to ensure only authentic and verified data gets disseminated among the people in need. THIS IS COMPLETELY A NON-PROFIT ENDEAVOUR.</p>
          </div>
          
        </div>
      </div>
    </div>


    <!-- MAIN -->





    <div class="site-section">
      <div class="container">
        <div class="row mb-3">
          <div class="col-lg-7 text-center mx-auto">
            <h2 class="section-heading">Development Team</h2>
            <p>Here are the founding members of this platform !</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <div class="team">
              <img src={{ "images/person_1.jpg" | relative_url }} alt="Image" class="img-fluid">
              <h3>Koustav Sinha Ray</h3>
              <p>(aka <strong>The OffBeat Doc</strong>)<br>Student at Calcutta National Medical College, Kolkata. Conceiver of the project idea, Developer/Programmer of this site and manager of related socials.</p>
              <!--p>
                <span class="d-block mb-2"><strong>Connect on social</strong></span>
                <a href="#" class="p-2 icon-facebook"></a>
                <a href="#" class="p-2 icon-twitter"></a>
                <a href="#" class="p-2 icon-linkedin"></a>
                <a href="#" class="p-2 icon-instagram"></a>
              </p-->
            </div>
          </div>
          <div class="col-lg-4">
            <div class="team">
              <img src={{ "images/person_2.jpg" | relative_url }} alt="Image" class="img-fluid">
              <h3>Prabuddha Bose</h3>
              <p>Student at Medical College, Kolkata. Assembler and Leader of the Volunteer group, and contributor of articles and resources on the site, suggester of site features.</p>
              
            </div>
          </div>
          <div class="col-lg-4">
            <div class="team">
              <img src={{ "images/person_3.jpg" | relative_url }} alt="Image" class="img-fluid">
              <h3>Soham Chakraborty</h3>
              <p>Student at Presidency University, Kolkata. Contributor of articles and resources on the site, proofreader, suggester site features, manager of related socials.</p>
              
            </div>
          </div>
          <p>&nbsp;</p>
          
        </div>
        <div class="row mb-3">
          <div class="col-lg-7 text-center mx-auto">
            <h2 class="section-heading">Our Volunteers</h2>
            <p>Here are the members of our Volunteer team !</p>
            <div>
              {{content}}
            </div>    
          </div>
        </div>
      </div>
    </div>


    {% include become-volunteer.html %}


    {% include html-lower-page.html %}