{% include html-upper-page.html %}



    <div class="hero-v1">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-6 text-center mx-auto">
            <span class="d-block subheading">Each Contribution matters :")</span>
            <h1 class="heading mb-3">Contribute Info ! <i class="far fa-heart"></i></h1>
            Enrich our community supported Covid-19 treatment resources listings and info !
          </div>
          
        </div>
      </div>
    </div>



    <!-- MAIN -->
    <div class="site-section">
        <div class="container">
          <div class="row mb-5">
            <div class="col-lg-7 mx-auto text-center">
              <span class="subheading">Please read this before you fill up the forms !</span>
              <h2 class="mb-4 section-heading">Things to note before you contribute info...</h2>
              <p>Here are some Do's and Don'ts that you need to know before your start contributing to our database.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 ">
              <div class="row mt-5 pt-5">
                <div class="col-lg-6 do ">
                  <h3>You should do</h3>
                  <ul class="list-unstyled check">
                    <li>Enter only those info that you have collected from trusted sources.</li>
                    <li>Check if the info already exists before you start putting in your info.</li>
                    <li>Be very careful while entering the info so that typos do not creep in.</li>
                    <li>Reach out to us if you need to update any info previously entered.</li>
                  </ul>
                </div>
                <div class="col-lg-6 dont ">
                  <h3>You should NOT</h3>
                  <ul class="list-unstyled cross">
                    <li>Enter info already existing in our data pages</li>
                    <li>Enter info from random sources with no authenticity at all.</li>
                    <li>Spam same info repeatedly.</li>
                    <li>Support any sort of unscrupulous businessmen by promoting their stuff.</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <img src={{ "/images/protect.png" | relative_url }} alt="Image" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
  
    <div class="site-section">
      
        <div class="row mb-3">
          <div class="col-lg-7 text-center mx-auto">
            <h2 class="section-heading">Contribute Info !</h2>
            <p>Contribute info into our community Covid-19 resources listings. Each contribution matters :")</p>
            <p>Choose where you wanna contribute...</p>
            <p><a href={{ "/oxygenform" | relative_url }} class="btn btn-primary"><i class="fas fa-hospital-alt"></i>&nbsp; Oxygen Supplliers Info</a></p>
            <p><a href={{ "/plasmaform" | relative_url }} class="btn btn-primary"><i class="fas fa-tint"></i>&nbsp; Plasma Banks/Donor Info</a></p>
            <!--p><a href={{ "/hospitalsform" | relative_url }} class="btn btn-primary"><i class="fas fa-ambulance"></i>&nbsp; Hospitals and Ambulances Info !</a></p-->
            <!--p><a href="#" class="btn btn-primary"><i class="fas fa-syringe"></i>&nbsp; Vaccination</a></p-->
          </div>
        </div>
      
    </div>
    
    {% include become-volunteer.html %}
    {% include covid-aids.html %}
    
    {% include telegram-invite.html %}





    
    




{% include html-lower-page.html %}