{% include html-upper-page.html %}
<link rel="stylesheet" href={{ "/css/togglecss.css" | relative_url }}>
    <div class="hero-v1">
      <div class="container">
        <span class="d-block subheading">Explore Available Covid-19 Aid !</span>
            <h1 class="heading mb-3">{{page.data-title}}</h1>
         A Community supported listing of available resources.
        <!--div class="row align-items-center">
          <div class="col-lg-6 mr-auto text-center text-lg-left">
            <span class="d-block subheading">Oxygen Cylinders Contacts</span>
            <h1 class="heading mb-3">Oxygen Aid</h1>
            <p class="mb-5">Find out the Oxygen suppliers near you, applying the related filters ! The data keeps updating from time to time</p>
            <p class="mb-4"><a href="#" class="btn btn-primary"><i class="fas fa-share-alt"></i>&nbsp; Share This !</a></p>


          </div>
          <div class="col-lg-6">
            <figure class="illustration-2">
              <img src="images/protect.png" alt="Image" class="img-fluid">
            </figure>
          </div>
          <div class="col-lg-6"></div-->
          
        </div>
      </div>
    </div>


    <!-- MAIN -->
    <div class="row mb-3">
      <div class="col-lg-7 text-center mx-auto">
        <p><strong>If you cannot find any leads by searching the name of your location, search by the District name or by other locations nearby.</strong> </p>
        <p>Select your State</p>
        <select name="plan" id="plan" class="custom-select" style="width:150px;">
          
          <option value="West Bengal" selected>West Bengal</option>
          
        </select>
        <p>
          &nbsp;
        </p>
        <span class="switch">
          <label>&nbsp; &nbsp;All Entries &nbsp</label>
           <input type="checkbox" class="switch" id="switch-id" checked>
           <label for="switch-id">Verified Entries</label>
         </span>
         
          <div class="contentA">
            <p>Showing ALL (<strong><span style="color: rgb(65, 168, 95);">Verified</span></strong>* and <strong><span style="color: rgb(184, 49, 47);">Non-verified</span></strong>) Entries.</p>
          </div>
          <div class="contentB">
            <p><span style="color: rgb(65, 168, 95);"></span><strong><span style="color: rgb(65, 168, 95);"><i class="fas fa-check-circle"></i></span></strong> Showing Only <span style="color: rgb(65, 168, 95);"></span><strong><span style="color: rgb(65, 168, 95);">VERIFIED</span></strong>* Entries.</p>
          </div>
      </div>
    </div>
    <div class="container">
           
        <div id="table1">
          <table id="myTable" class="table table-striped">
            <thead>
              <tr>
                <th>Region</th>
                <th>Name of Supplier</th>
                <th>Contact</th>
              </tr>
            </thead>
            <tbody id="demo"></tbody>
          </table>
        </div>
        <div>
          {{content}}
        </div>
    </div>
    <script>
      var level;
      var verifiedbool=1;
      function changeLevel(){
        
      document.getElementById("table1").innerHTML = `<table id="myTable" class="table table-striped">
            <thead>
              <tr>
                <th>Region</th>
                <th>Name of Supplier</th>
                <th>Contact</th>
              </tr>
            </thead>
            <tbody id="demo"></tbody>
          </table>`;
      level = document.getElementById("plan").value;
      console.log(level);
      
      let xmlhttp = new XMLHttpRequest();
      xmlhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          let data = JSON.parse(this.responseText).feed.entry;
          
          let i;
          
          
          
          for (i = 0; i < data.length; i++) {
            let state = data[i]["gsx$stateut"]["$t"];
            let region = data[i]["gsx$cityregion"]["$t"];
            let name = data[i]["gsx$nameofsupplier"]["$t"];
            let contact = data[i]["gsx$contactnumber"]["$t"];
            let verifiedsheet = data[i]["gsx$verified"]["$t"];
            if (verifiedbool == 1)
            {            
              if (state == level)
              {
                if (verifiedsheet=="TRUE")
                {
                  document.getElementById("demo").innerHTML +=
                    "<tr>" +
                    "<td>" +
                    region +
                    "</td>" +
                    "<td>" +
                    name +
                    "</td>" +
                    "<td>" +
                    contact +
                    "</td>" +
                    "</tr>";
                };
              }
            }
            if (verifiedbool == 0)
            {
              if (state == level)
              {
                  document.getElementById("demo").innerHTML +=
                    "<tr>" +
                    "<td>" +
                    region +
                    "</td>" +
                    "<td>" +
                    name +
                    "</td>" +
                    "<td>" +
                    contact +
                    "</td>" +
                    "</tr>";
              }
            }
            
              
            };
          $(document).ready(function(){
              
              $("#myTable").fancyTable({
                 
                 /* Setting pagination or enabling */
                 pagination: true,
                     globalSearch:true,
                  /* Exclude 2nd column from global search.*/
                 
              });                            
          });            
        }
      };
      xmlhttp.open(
        "GET",
        "https://spreadsheets.google.com/feeds/list/1CdYruSUWvM2iuQm5TpUDAb8iiZHeIdlMjRXdu0ZurMo/1/public/values?alt=json",
        true
      );
      xmlhttp.send();
      };
      changeLevel();
      $(document).ready(function () {
        $("#switch-id").change(function () {
                if ($(this).is(":checked")) {
                    $(".contentB").show();
                    $(".contentA").hide();
                    verifiedbool = 1;
                    changeLevel();
                } else {
                    $(".contentB").hide();
                    $(".contentA").show();
                    verifiedbool = 0;
                    changeLevel();
                }
            });
        });

    </script>
    
    
    {% include covid-aids.html %}
    {% include contribute-invite.html %}
    {% include telegram-invite.html %}




    
    



{% include html-lower-page.html %}
