{% include html-upper-page.html %}
  

    <div class="hero-v1">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 mr-auto text-center text-lg-left">
            <span class="d-block subheading">COVID-19 RESOURCES & AIDS</span>
            <h1 class="heading mb-3">EXPLORE COVID-19 RESOURCES & AIDS NEAR YOU !</h1>
            <p class="mb-5">Share them with our friends and family !</p>
            <!--p class="mb-4"><a href="#" class="btn btn-primary">How to prevent</a></p-->
            <p class="mb-5">&nbsp;</p>
            
            


          </div>
          <div class="col-lg-6">
            <figure class="illustration">
              <img src={{ "/images/illustration.png" | relative_url }} alt="Image" class="img-fluid">
            </figure>
          </div>
          <div class="col-lg-6"></div>
        </div>
      </div>
    </div>


    <!-- MAIN -->
    
    {% include covid-aids.html %}
    {% include contribute-invite.html %}
    {% include telegram-invite.html %}
    


    <!--div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-4 mb-lg-0">
            <figure class="img-play-vid">
              <img src="images/hero_1.jpg" alt="Image" class="img-fluid">
              <div class="absolute-block d-flex">
                <span class="text">Watch the Video</span>
                <a href="https://www.youtube.com/watch?v=9pVy8sRC440" data-fancybox class="btn-play">
                  <span class="icon-play"></span>
                </a>
              </div>
            </figure>
          </div>
          <div class="col-lg-5 ml-auto">
            <h2 class="mb-4 section-heading">What is Coronavirus?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex officia quas, modi sit eligendi numquam!</p>
            <ul class="list-check list-unstyled mb-5">
              <li>Lorem ipsum dolor sit amet</li>
              <li>Consectetur adipisicing elit</li>
              <li>Unde doloremque</li>
            </ul>
            <p><a href="#" class="btn btn-primary">Learn more</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="container pb-5">
      <div class="row">
        <div class="col-lg-3">
          <div class="feature-v1 d-flex align-items-center">
            <div class="icon-wrap mr-3">
              <span class="flaticon-protection"></span>
            </div>
            <div>
              <h3>Protection</h3>
              <span class="d-block">Lorem ipsum dolor sit.</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="feature-v1 d-flex align-items-center">
            <div class="icon-wrap mr-3">
              <span class="flaticon-patient"></span>
            </div>
            <div>
              <h3>Prevention</h3>
              <span class="d-block">Lorem ipsum dolor sit.</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="feature-v1 d-flex align-items-center">
            <div class="icon-wrap mr-3">
              <span class="flaticon-hand-sanitizer"></span>
            </div>
            <div>
              <h3>Treatments</h3>
              <span class="d-block">Lorem ipsum dolor sit.</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="feature-v1 d-flex align-items-center">
            <div class="icon-wrap mr-3">
              <span class="flaticon-virus"></span>
            </div>
            <div>
              <h3>Symptoms</h3>
              <span class="d-block">Lorem ipsum dolor sit.</span>
            </div>
          </div>
        </div>
      </div>
    </div-->

    <div class="site-section" id="contact">
      
      <div class="row mb-3">
        <div class="col-lg-7 text-center mx-auto">
          <h2 class="section-heading">Contact Us</h2>
          <p>Reach out to us for any query or feedback regarding this site :")</p>
          <p><a href="mailto:theoffbeatdoc@gmail.com" class="btn btn-primary"><i class="fas fa-envelope-open"></i>&nbsp; E-mail @ theoffbeatdoc@gmail.com</a></p>
          <p><a href={{ "/#telegram" | relative_url }} class="btn btn-primary"><i class="fab fa-telegram-plane"></i>&nbsp; Join Us on Telegram !</a></p>
        </div>
      </div>
    
  </div>

    <div class="site-section bg-primary-light">
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-7 mx-auto text-center">
            <h2 class="mb-4 section-heading">Useful International & Indian Government Resources</h2>
            <p>Check out these sites for authentic info and resources on COVID-19</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 mb-4">
            <a href="https://covid19.who.int/">
              <div class="symptom d-flex">
                <div class="img">
                  <img src={{ "/images/who-emblem.png" | relative_url }} alt="Image" class="img-fluid">
                </div>
                <div class="text">
                  <h3>WHO COVID-19 Dashboard</h3>
                  <p>WHO presents official daily counts of COVID-19 cases and deaths worldwide, along with vaccination rates and other vaccination data, while providing a hub to other resources.</p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-6 mb-4">
            <a href="https://www.unicef.org/coronavirus/covid-19">
              <div class="symptom d-flex">
                  <div class="img">
                    <img src={{ "/images/unicef-emblem.png" | relative_url }} alt="Image" class="img-fluid">
                  </div>
                  <div class="text">
                    <h3>UNICEF COVID-19 Information Centre</h3>
                    <p> The latest COVID-19 news and resources, as well as tips to protect you and your family. </p>
                  </div>
              </div>
          </a>
          </div>
          <div class="col-lg-6 mb-4">
            <a href="https://www.mohfw.gov.in/">
              <div class="symptom d-flex">
                <div class="img">
                  <img src={{ "/images/national-emblem.png" | relative_url }} alt="Image" class="img-fluid">
                </div>
                <div class="text">
                  <h3>Ministry of Health and Family Welfare</h3>
                  <p>Ministry of Health and Family Welfare, Government of India. The site provides extensive statistics and resources related to COVID-19.</p>
                </div>
              </div>
            </a>
          </div>

          <div class="col-lg-6 mb-4">
            <a href="http://nhp.gov.in/">
              <div class="symptom d-flex">
                <div class="img">
                  <img src={{ "/images/nhp-emblem.jpg" | relative_url }} alt="Image" class="img-fluid">
                </div>
                <div class="text">
                  <h3>National Health Portal of India</h3>
                  <p> The National Health Portal aims to establish a single point access for authenticated health information for citizens, students, healthcare professionals and researchers.</p>
                </div>
              </div>
          </a>
          </div>
        </div>

        <div class="row justify-content-md-center">
          <div class="col-lg-10">
            <div class="note row">

              <div class="col-lg-8 mb-4 mb-lg-0"><strong>For any help or assistance regarging COVID-19:</strong> Contact State and Union Territory Corona Virus (COVID-19) Helpline numbers provided by Ministry of Health and Family Welfare </div>
              <div class="col-lg-4 text-lg-right">
                <a href="tel:+91-11-23978046" class="btn btn-primary"><span class="icon-phone mr-2 mt-3"></span>Helpline +91-11-23978046</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    

    {% include html-lower-page.html %}