{% include html-upper-page.html %}

    <div class="hero-v1">
      <div class="container">
        <span class="d-block subheading">Become a Volunteer :") !</span>
            <h1 class="heading mb-3">Volunteer ! <i class="far fa-heart"></i></h1>
         Join hands in our efforts to verify and suthenticate our community supported Covid-19 treatment resources listings and info across the different states of India!
        <!--div class="row align-items-center">
          <div class="col-lg-6 mr-auto text-center text-lg-left">
            <span class="d-block subheading">Oxygen Cylinders Contacts</span>
            <h1 class="heading mb-3">Oxygen Aid</h1>
            <p class="mb-5">Find out the Oxygen suppliers near you, applying the related filters ! The data keeps updating from time to time</p>
            <p class="mb-4"><a href="#" class="btn btn-primary"><i class="fas fa-share-alt"></i>&nbsp; Share This !</a></p>



          </div>
          <div class="col-lg-6">
            <figure class="illustration-2">
              <img src="images/protect.png" alt="Image" class="img-fluid">
            </figure>
          </div>
          <div class="col-lg-6"></div-->
          
        </div>
      </div>
    </div>



    <!-- MAIN -->
    
    <div class="site-section">
      
        <div class="row mb-3">
          <div class="col-lg-7 text-center mx-auto">
            <h2 class="section-heading">How does it work?</h2>
            <p>We collect info from the community. Anybody can contribute info to our site. Then it's the precious job of our volunteers to validate and authenticate the info in our database. Our data pages are programmed to fetch the verified data from the databases for people to avail and search through them. :")</p>
            <p>We need lot of people to join with us so that we can maintain and validate a nationwide databases of available covid info in these trying times.</p>
            <h2 class="section-heading">Seems good? Join Us ASAP !</h2>
            <p>Before joining us as volunteer, you must affirm to the following: </p>
            <p>&nbsp;</p>
          </div>  
            <div class="container">
              <div class="row mb-5">
                {{content}}
              </div>
            </div>
          
          <div class="col-lg-7 text-center mx-auto">
              <br>
              By checking "I agree", you are affirming to all the above points. 
             </p>
            
            <p><input type="checkbox"   onchange="document.getElementById('agree').disabled = !this.checked;" /> I AGREE.</p>
            <!--a href="telegram"><input type="submit" disabled="true" name="Submit" class="inputButton" id="agree" value=" Send " /></a-->
            <button class="GFG" disabled="true" id="agree" onclick="window.location.href = 'https://rebrand.ly/cov19resources-volunteers-grp';">
                JOIN AS A VOLUNTEER !
            </button>
        </div>
        </div>
      
    </div>
    
    







    
    




{% include html-lower-page.html %}